# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/stratagem-venv

# workspace settings
/.vscode

# configuration settings
/stratagem_api/config.py

# pycaches
**/__pycache__/*