[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "*"
django = "*"
django-cors-headers = "*"
djangorestframework = "*"
pycodestyle = "*"
pytz = "*"
whitenoise = "*"
pylint = "*"
"pep8" = "*"
"autopep8" = "*"
djangorestframework-jwt = "*"
mysqlclient = "*"

[dev-packages]
